
/* .container{
	
	background-size: cover;
	height: 100vh;
} */
.main{
	/* background: rgb(42,47,51); */
	background-image: url('assets/backgrounds/bg44.jpg');
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Cinzel Decorative';
	width: 100%;
	height: 100vh;

}
.main-name{
	padding-top: 100px;
	font-size: 64px;
	font-family: 'Cinzel Decorative';
	color: #fff;
}

.menu-link{
	font-size: 48px;
	font-style: italic;
	text-decoration: none;
	color: rgb(211, 92, 29);
	font-weight: bold;
	font-family: 'Cinzel Decorative';
	transition: all .2s ease-in-out
}
.menu-link:hover{
	/* font-size: 48px; */
	font-style: italic;
	text-decoration: none;
	
	color: rgb(228, 198, 66);
	font-weight: bold;
	font-family: 'Cinzel Decorative';
	text-align: center;
	transition: all .2s ease-in-out
}
.tac{
	text-align: center;
}
/* .footer{
	background: url('./assets/backgrounds/bg33.png');
	height: 100px;
} */
img{
	width: 300px;
}
@media all and (max-width: 768px) and (min-width: 500px){
	.main{
		/* background-image: url('./assets/backgrounds/bg-1.jpg') !important; */
		background-size: cover;
	}
	.main-name{
		padding-top: 50px !important;
		font-size: 56px;
	}
	.menu-link{
		font-size: 32px;
	}
	img{
		width: 200px;
	}
}
@media all and (max-width: 500px) and (min-width: 320px){
	.main{
		/* background-image: url('./assets/backgrounds/bg-1.jpg') !important; */
		background-size: contain;
	}
	.main-name{
		padding-top: 50px !important;
		font-size: 48px;
	}
	.menu-link{
		font-size: 24px;
	}
	.menu-link:hover{
		font-size: 24px;
	}
	img{
		width: 150px;
	}
}

